<!doctype html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
  <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
  <link rel="stylesheet" href="{{url_for('static', filename='css/map.css')}}" type="text/css" media="screen" />
</head>
<body class="container">
  <nav class="navbar navbar-inverse navbar-fixed-top row" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="/" data-toggle="tooltip"
                 title="See tracks" data-placement="bottom" >Home</a></li>
          <li><a href="upload" data-toggle="tooltip"
                 title="Upload tracks" data-placement="bottom" >Upload</a></li>
        </ul>

      </div><!--/.nav-collapse -->
    </div>
  </nav>
  <div id="content">
    <div id="map">
    </div>
  </div>
  <script type="text/javascript" src="//code.jquery.com/jquery-1.11.2.min.js"></script>
  <script type="text/javascript" src="{{url_for('static', filename='js/maps.js')}}"></script>
</body>
</html>
